@import "../../../assets/scss/colors";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.wrap {
    margin: 20px;

    .header {
        color: $brown;
        font-size: 2.2rem;
        text-transform:uppercase;
    }
    
    .form {
        color: $brown;
        font-size: 1.2rem;

        .form-control {
            @include display-flex($center, $flexStart);
            flex-direction: column;
            border: 0.5px solid $yellow;
            margin-bottom: 10px;
            height: 40px;

            .input__error {
                color: $red;
            }  
        }

        .button {
            font-size: 1.4rem;
            font-weight: bold;
            color: $brown;
            text-transform:uppercase;
            margin-right: 10px;
            border: 2px solid $yellow;
        }
    }
}
