@import "../../../assets/scss/colors";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.wrap {
    margin: 20px;

    .header {
        color: $brown;
        font-size: 2.2rem;
        text-transform:uppercase;
    }
    
    .form {
        color: $brown;
        font-size: 1.2rem;

        .form-control {
            @include display-flex($center, $flexStart);
            flex-direction: column;
            border: 0.5px solid $yellow;
            margin-bottom: 10px;
            height: 40px;

            .input__error {
                color: $red;
            }  
        }
    }
}

@include ng-deep {
    .p-inputnumber-input, .p-inputtext {
        font-size: 1.4rem;
        width: 70px;
    }

    .p-button {
        font-size: 1.8rem;
    }
  }
