@import "../../../assets/scss/colors";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.product {
    @include display-flex($spaceBetween, $flexStart);
    @include break-point($tablet) {
        @include display-flex($spaceBetween, $center);
        flex-direction: column
    }
    padding: 5px;
    &__img {
        @include break-point($tablet) {
            max-width: 90%;
        }

        border: 2px solid $yellow;
        min-width: 10%;
        margin: 5px;
        max-width: 47%;
    }

    &__info-wrapper {
            @include break-point($tablet) {
            max-width: 90%;
        }

        min-width: 10%;
        margin: 5px;
        max-width: 47%;
        font-size: 1.8rem;
        .product__name {
            max-width: 600px;
            height: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .price-rating__wrapper {
            flex-direction: column;
            @include display-flex($spaceBetween);
            width: 100%;

            .price {
                margin-top: 10px;
            }
        }

        .booking-details__wrapper {
            margin-top: 10px;

            .interval, .quantityGuests {
                margin-bottom: 10px;
            }

            .total {
                text-transform: uppercase;
                color: $red;
            }
        }

        .product__button {
            margin-top: 15px;
            font-size: 1.4rem;
            font-weight: bold;
            color: $brown;
            text-transform:uppercase;
            margin-right: 10px;
            border: 2px solid $yellow;
        } 
    }
}
